  * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  .labels{
    font-weight: bold;
    color: #2B4C5D;
}
.label_icones{
  font-weight: bold;
  color: #2B4C5D;
  cursor: pointer;
  background-color: white;
  margin-right: 3vw;
}
.icones{
  width: 2.5vw;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 0.2vh;
  background-color: white;
  cursor: pointer;
}
a{
  background-color: white;
}
#legenda{
  color: #C0732F;
  font-size: 20px;

}
.inputs{
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    text-align  : center;
    height: 3vh;
    font-size: 2vh;
}
.inputs_menu{
  border-radius: 5px;
  height: 4vh;
  margin-left: 2.5vw;
  width: 11vw;
  font-size: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #C0732F;
  border-color: #2B4C5D;
}  

@import "./styles/login.css";
@import "./styles/superior.css";
@import "./styles/faixas_servicos.css";
@import "./styles/home_painel.css";
@import'./styles/menu_opcoes.css';
@import "./styles/Clientes.css";
@import "./styles/Pedidos.css";
@import "./styles/dados_clientes.css";
@import "./styles/Painel_pedido.css";
@import "./styles/Cadastro_cardapio.css";
 @import "./styles/Financas.css";
@import "./styles/usuarios.css"

 
/* 
  ;
  
  @import "./styles/Sessoes/financas.css";
  
  @import "./styles/Sessoes/pedidos.css";
  @import "./styles/Sessoes/sessoes.css";

  


  @import "./styles/Historico_pedidos.css";
  @import "./styles/Laterais.css";
  @import "./styles/Home.css";
  @import "./styles/Montagem_cardapio.css";
  @import "./styles/Oferta_cardapio.css";
 
  ; */
