
.geralu{
    margin-left: 4vw;
    margin-top: -5vh;
    display: flex;
}
.labelu{
    font-weight: bold;
    margin-left: 4vw;
    margin-top: 10vh;
}
.inputu{
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -27vh;
    margin-left: -15.2vw;
    height: 3vh;
    font-size: 2vh;
    background-color: transparent;
}
#botao_cad1{
    width:  7.5vw;
    height: 3vh;
    border-radius: 6px;
    border: none;
    background-color: #2B4C5D;
    color: #f2f2f2;
    font-size: 20px;
    margin-left: 1vw;
    cursor: pointer;
}
#label2u{
    margin-left: 9.5vw;
}
#label2s{
    margin-left: 9.5vw;
}

#mensagem{
    color: orangered;
    font-size: 4vh;
    margin-top: 10vh;
}
#servico_usuario{
    color: darkslategray;
    margin-top: 2vw;
    margin-left: 30%;
    font-weight: bold;
    font-size: 3vh;
}